*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #ddd;
}
.row{
    width: 100%;
    padding: 50px 100px;
}
.image-section{
    width: 35%;
    float: left;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content{
    width: 60%;
    float: left;
    margin-left: 50px;
}
.content h1{
    font-size: 90px;
    letter-spacing: 3.5px;
    margin-top: 25px;
    color: #222;
}
.content h2{
    font-size: 40px;
    font-family: sans-serif;
    
    margin-top: 25px;
    color: #b60112;
}
.content p{
    font-size: 20px;
    font-family: serif;
    margin-top: 10px;
    line-height: 1.5;
}